// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.table-container {
  width: 100%;
  overflow-y: auto;
  max-width: 1200px;

  .form-check-input {
    position: relative;
  }
}

.form-check-input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.react-datepicker-wrapper {
  width: 100%;
}

.page-item {
  .page-link {
    padding: 0.4rem 0.75rem;

    @media (max-width: 350px) {
      padding: 0.4rem 0.6rem;
    }
  }
}

@media (max-width: 767px) {
  .select-styles {
    margin-right: 15px;
    max-width: 492px;
  }
}

@media (max-width: 500px) {
  .select-styles {
    margin-left: 15px;
    max-width: 471px;
  }
}
